* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.nav-full-wrap {
  border: 0.2rem dotted red;
}

.header-full-wrap {
  border: 0.2rem dotted orange;
}

.article-main {
  border: 0.2rem dotted yellow;
}

.article-admin {
  border: 0.2rem dotted green;
}

.article-categories {
  border: 0.2rem dotted blue;
}

