* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* NAV SECTION */
.nav-full-wrap {
  border: 0.2rem dotted red;
}

.header-full-wrap {
  border: 0.2rem dotted orange;
}

.header-profile {
  border: 0.2rem dotted purple;
}

.article-main {
  border: 0.2rem dotted yellow;
}

.article-admin {
  border: 0.2rem dotted green;
}

.article-categories {
  border: 0.2rem dotted blue;
}

/* HEADER SECTION */
.search-header {
  border: 0.2rem solid orangered;
}

.search-menu {
  border: 0.2rem solid blue;
}

.header-search {
  border: 0.2rem solid yellowgreen;
}

.icon-profile {
  border: 0.2rem solid turquoise;
}

.icon-planner {
  border: 0.2rem solid violet;
}

.icon-dots {
  border: 0.2rem solid green;
}

/* TITLE SECTION */
.title-info {
  border: 0.2rem dashed red;
}

.grid-section {
  border: 0.2rem dashed green;
}

.job-description-wrap {
  border: 0.2rem dashed pink;
}

.section-social-media {
  border: 0.2rem solid gray;
}