* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-width: 320px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans', sans-serif;
}

button,
input {
  outline: none;
}

a {
  text-decoration: none;
}

.complete-body-wrap {
  background-color:  #fcfcfc;
}

/* NAV SECTION */
.nav-full-wrap {
  background-color: #354052;
  display: none;
  height: 100%;
  margin: 0 auto;
  width: 5rem;
}

.img-profile-div {
  background-image: url('images/myLastPackage1.jpg');
  background-size: cover;
  border-radius: 100%;
  height: 10rem;
  margin: 2rem 0 0 2rem;
  width: 10rem;
}

.profile-name {
  color: #8a95a5;
  font-weight: 400;
}

.header-profile {
  display: flex;
  height: 18rem;
  justify-content: center
}

.icon-nav {
  color: #a0acbf;
  font-size: 2rem;
}

.article-main,
.article-admin,
.article-categories {
  display: grid;
}

.check-checked {
  color: yellow;
}

.check-blue {
  color: blue;
}

.check-red {
  color: red;
}

.check-green {
  color: green;
}

.main-full-wrap {
  background-color: #fcfcfc;
}

/* HEADER SECTION */
.search-header {
  height: 50px;
}

#search-menu {
  display: none;
}

.search-icon {
  background-color: transparent;
  color: #87898d;
  cursor: pointer;
  font-size: 1.8rem;
  height: 50px;
  margin: 0 -2px;
  width: 40px;
}

.search:hover {
  background-color: #15a4fc;
}

.search-menu {
  background-color: #FEFEFE;
  border: 0.2rem solid blue;
  color: #C6C7CB; 
}

.header-search-input {
  color: #a0acbf;
  font-weight: 400;
  padding: 0 0 0 1rem;
  width: calc(100% - 50px*3 + 2px);
}

.search-icon:focus {
  border-bottom: 1.5px solid #15a4fc;
}

.icon-profile:hover,
.icon-planner:hover,
.icon-dots:hover {
  background-color: #15a4fc;
}

/* TITLE SECTION */
.title-info {
  background-color: #fcfcfc;
  font-weight: 700;
}

.title-name {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 140%;
  padding: 1rem 0 0.5rem 0.5rem;
  /* width: 380px; */
}

.map-point {
  color: #a895a5;
  font-size: 1.6rem;
  margin: 0 0.8rem;
}

.title-location {
    color: #a895a5;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 160%;
    margin: 0.5rem;
    width: calc(100% - 50px);
}

.title-location span {
  color: #3c9ee5;
  font-weight: 400;
}

.title-header-buttons {
  display: flex;
  flex-direction: row;
  margin: 2% 0 0 2%;
}

.title-button-top {
  border: 0.15rem solid #dee4ee;
  border-radius: 100%;
  color: #4e515e;
  cursor: pointer;
  display: flex;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 2px 3px 0 0;
  padding: 5px;
}

.open {
  border-radius: 20px;
}

.open-icon {
  color: #8cc63e;
  font-size: 1rem;
  padding: 0 0.5rem;
}

.title-options {
  display: flex;
  flex-direction: column;
  height: 0;
  margin: 1rem 0;
}

.title-buttons {
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 160%;
  margin: 0 0 0.2rem 1rem;
  text-align: left;
  text-transform: uppercase;
}

.title-buttons a {
  color: #8a95a5;
  line-height: 210%;
  text-decoration: none;
}

.title-buttons a:hover {
  border-bottom: 0.25rem solid #15a4fc;
  color: #4e515e;
}

.graph-section {
  background-color: #EDF2F6;
}

/* +++++++ GRAPH+++++++++ */


.flex-wrap {
  border-top: 0.5rem soilid #eff3f6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: -2px 0 -2px 0;
  padding-top: 15px;
}

.circle-graph-wrap {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40rem;
}

.circle-graphs-div {
  align-items: center;
  border: 10px solid #fff;
  border-radius: 50%;
  border-width: 10px;
  flex-direction: column;
  display: flex;
  height: 130px;
  justify-content: center;
  margin: 3rem auto;
  width: 130px;
}

.circle-graph-1 {
  border-color: #cccccc red red red;
}

.circle-graph-2 {
  border-color: green green green #cccccc;
}

.circle-graph-3 {
  border-color: blue blue #cccccc blue;
}

.circle-graph-num,
.circle-graph-word {
  color: grey;
  font-size: 175%;
}

.circle-graph-word {
  font-size: 75%;
}

.circle-graph-btn {
  height: 28px;
  width: 153px;
}

.circle-graph-btn,
.bar-graph-btn {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 15px;
  color: grey;
  font-size: .65rem;
}

.circle-graph-btn:hover,
.bar-graph-btn:hover {
  background-color: #d4d8d8;
}

.graph-number {
  font-size: 1rem;
}

.circle-graph-footer {
  align-items: center;
  background-color: #fff;
  border: 2px solid #d2dae2;
  border-radius: 20px;
  color: #444652;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  line-height: 2.5rem;
  margin: 1rem 0 3rem 0;
  width: 24rem;
}

.circle-graph-icon {
  font-size: 3.5px;
  margin: 0 0.5rem;
}

.bar-graph-footer {
  background-color: #fff;
  border: 2px solid #d2dae2;
  border-radius: 20px;
  color: #4e515e;
  display: flex;
  font-size: 1.5rem;
  font-weight: 600;
  justify-content: center;
  line-height: 2.5rem;
  margin: 1rem 0 4rem 0;
  text-transform: uppercase;
  width: 24rem;
}

.bar-graph-pic {
  background-image: url('images/barGraph4.jpg');
  background-position: center;
  background-size: cover;
  height: 150px;
  margin: 0 auto;
  width: calc(100% - 10px);
}

/* JOB DESCRIPTION */
.job-description-wrap {
  background-color: #ecf2f6;
}

.legend {
  color: #fff;
  background-color: #6f7d95;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 2.0rem;
  font-weight: 700;
  line-height: 6.5rem;
  padding: 0 0 0 0.9rem;
  text-transform: uppercase;
}

.job-edit-button {
  background-color: #7c8aa6;
  border: none;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 700;
  height: 3rem;
  margin: 0 0 0 16%;
  text-transform: uppercase;
  width: 5rem;
}

.edit-icon {
  display: none;
}

.job-description {
  background-color: #fcfcfc;
  margin: 2%;
}

li {
  border-bottom: 0.2rem solid #d1d8db;
  padding: 1% 0;
  list-style-type: none;
}

li h2 {
  color: #6f7e95;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1rem 0 0 0.5rem;
  text-transform: uppercase;
}

li p {
  color: #4d515e;
  font-size: 1.6rem;
  line-height: 140%;
  padding: 0.2rem 0 2rem 0.5rem;
  width: calc(100% - 100px);
}

.li-image-wrap {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.job-description-pic {
  background-image: url(images/myLastPackage1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 100%;
  height: 5rem;
  width: 5rem;
}

span {
  color: #4d515e;
  font-size: 1.6rem;
  margin: 0 0 0 2rem;
}

/* ++++++++++SOCIAL MEDIA+++++++++++++++ */
.section-social-media {
  background-color: #edf2f6;
}

.fb {
  background-color: #496ec1;
}

.twitter {
  background-color: #00aaef;
}

.linked-in {
  background-color: #0382be;
}

.social-media-button-wrap {
  display: flex;  
  flex-direction: column;
}

.social-button {
  border-radius: 5px;
  color: rgb(245, 247, 248);
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 900;
  height: 4.5rem;
  justify-content: center;
  margin: 1% auto;
  width: 300px;
}

.social-icon {
margin: 0 3rem 0 0;
}

.section-social-media h2 {
  color: #4e515e;
  font-size: 2rem;
  font-weight: 700;
  margin: 3%;
}

.section-social-media p {
  color: #4e515e;
  font-size: 1.5rem;
  line-height: 160%;
  padding-left: 1rem;
  width: calc(100% - 10rem);
}

.icon-link {
  font-size: 2rem;
  margin: 1%;
}

.social-copy-wrap {
  background-color: #edf2f6;
  height: 45px;
  line-height: 4.5rem;
  margin: 2rem 0 0 0;
}

.social-copy-wrap span a {
  color: #6f7a8b;
  width: 100%;
}

.social-copy-wrap span {
  background-color: #fff;
  color: #6f7a8b;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0 2rem;
  overflow: hidden;
  width: calc(100% - 10rem);
}

.social-copy {
  background-color: #47b8be;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #fff;
  cursor: pointer;
  float: right;
  font-size: 1.4rem;
  height: 100%;
  margin-right: 2rem;
  width: 6rem;
}

#social-copy-span {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 28rem;
} 

@media screen and (min-width:741px) {
  #nav { grid-area: nav; }
  #header { grid-area: header; }
  #title { grid-area: title; }
  #graph { grid-area: graph; }
  #info { grid-area: info; }
  #social { grid-area: social; }

  .complete-body-wrap {
    display: grid;
    grid-template-areas: 
        "nav header header "
        "nav title title"
        "nav title title"
        "nav title title"
        "nav graph graph"
        "nav graph graph"
        "nav graph graph"
        "nav graph graph"
        "nav info social"
        "nav info social"
        "nav info social"
        "nav info social"
        "nav info social"
  } 

  .nav-full-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 7.5rem;
  }

  .nav-out,
  .article-p span {
    display: none;
  }

  .header-profile {
    display: flex;
    flex-direction: column;
    height: 9rem;
    margin: 0;
  }

  .img-profile-div {
    height: 4rem;
    margin: 0;
    width: 4rem;
  }

  .header-profile {
    border-bottom: 0.2rem solid transparent;
  }

  .header-search-input {
    width: calc(100% - 39px*3);
  }

  .article-p-main {
    color: transparent;
  }

  .article-main,
  .article-admin,
  .article-categories {
    align-items: center;
    border-bottom: 0.2rem solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18rem;
  }

  .icon-nav:hover {
    color: #fff;
  }

  .circle-graph-wrap-words,
  .bar-graph-wrap {
    width: calc(100% - 10rem);
  }

  .circle-graph-footer,
  .bar-graph-footer {
    margin: 2rem 0 2rem 3rem;
  }

  .circle-graph-num {
    color: #4e515e;
    font-size: 3rem;
    font-weight: 800;
  }

  .circle-graph-word {
    font-size: 1.5rem
  }

  .bar-graph-pic {
    width: 100%;
  }

  .title-options {
    display: flex;
    flex-flow: wrap;
    height: 6rem;
  }

  .nav-out,
  .article-p span {
    /* display: initial; */
  }

  .article-p-main {
    color: #fff;
  }
}

@media screen and (min-width:1400px) {

/* FULL GRID AREA DEFINED */


  .complete-body-wrap {
    display: grid;
    grid-template-areas: 
        "nav header header header header "
        "nav title title title title"
        "nav title title title title"
        "nav title title title title"
        "nav graph graph graph graph"
        "nav graph graph graph graph"
        "nav graph graph graph graph"
        "nav graph graph graph graph"
        "nav info info social social"
        "nav info info social social"
        "nav info info social social"
        "nav info info social social"
        "nav info info social social"
  } 
  /* ++++++++++++ NAV +++++++++++++ */
  .nav-full-wrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 24.5rem;
  }

  .header-profile,
  .article-main,
  .article-admin,
  .article-categories {
    border-bottom: 0.2rem solid rgb(20, 20, 20);
  }

  .header-profile,
  .article-main,
  .article-admin,
  .article-categories {
    align-items: normal;
    display: grid;
    font-size: 1.6rem;
    text-transform: uppercase;
    width: 100%;
  }

  .header-profile {
    display: grid;
    height: 25rem;
    margin: 0;
  }

  .img-profile-div {
    height: 11rem;
    margin-top: 3rem;
    width: 11rem;
  }

  .article-main,
  .article-admin,
  .article-categories {
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    height: 27rem;
    justify-content: flex-start;
  }

  .article-p {
    font-size: 1.6rem;
    line-height: 4.5rem;
    padding: 0 0 0 1.8rem;
  }

  .article-admin > a:hover {
    background-color: #354052;
    color: #fff;
  }
  
  .article-p-main {
    color: #65748d;
    font-weight: 700;
    margin: 1rem 0 0 1rem;
  }

  .article-p span {
    color: #a0acbf;
    font-weight: 800;
    margin: 0 0 0 3rem;
  }

  p.article-p {
    border-left: 0.5rem solid transparent;
  }

  p.article-p:hover {
    background-color: #293241;
    border-left: 0.5rem solid #15a4fa;
  }

  p.article-p span:hover {
    color: #fff;
  }

  /* +++++header-search++++++ */
  #search-menu {
    display: initial ;
  }

  .icon-search-arrow {
  color: #00aaef;
  margin-right: 0.4rem;
  }

  .search-header {
    height: 7rem;
  }

  .search-icon {
    color: #444652;
    font-size: 2rem;
    height: 100%;
    margin: -2px;
    width: 9.5rem;
  }

  .icon-search {
    margin-left: 0.1rem;
  }

  .header-search-input {
    width: calc(100% - 10rem * 4);
  }

  /* +++++TITLE SECTION+++++++ */
  .title-header-buttons {
    position: absolute;
    top: 13%;
    right: 12%;

  }

  .title-info {
    /* height: 21rem; */
    /* margin-top: 5rem; */
  }

  .title-h1-p-wrap {
    margin: 0 0 0 2.5rem;
  }
  .title-header-icon {
    margin: 0 auto;
  }

  .title-button-top {
    font-size: 1.5rem;
    height: 5rem;
    margin: 0 0.8rem;
    width: 5rem;
  }

  .title-options {
    display: flex;
    flex-direction: row;
    height: 4rem;
    margin: 3rem 0 -1rem 0;
    padding-left: 4rem;
  }

  li {
    /* align-content: center; */
    display: flex;


    /* justify-content: center; */
    padding: 0;

  }

  .open {
    border-radius: 3rem;
    width: 10rem;
  }

  .open-icon {
    font-size: 1.3rem;
    padding: 0.2rem 0.5rem;
  }

  /* +++++GRAPH @ MEDIA+++++++ */
  .flex-wrap {
    display: flex;
    height:45rem;
    padding: 0;
  }
  
  .circle-graph-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: 1200px;
  }

  .circle-graph-footer {
    margin: 2rem 0 2rem 30%;
  }

  .circle-graph {
    display: flex;
    height:200px;
    justify-content: space-around;
    width: 660px;
  }

  .circle-graphs-div {
    height: 15.5rem;
    margin: 0;
    width: 15.5rem;
  }

  .circle-graph-num {
    color: #4e515e;
    font-size: 4rem;
    font-weight: 800;
  }

  .circle-graph-word {
    font-size: 1.8rem;
    font-weight: 800;
  }

  .bar-graph-pic {
    height: 200px;
    margin: 0;
    width: calc(100% - 60px);
  }

  .bar-graph-wrap {
    align-content: center;
    display: flex;
    flex-direction: column;
    height: 269px;
  }

  .bar-graph-footer {
    margin: 2rem 0 0 14rem;
  }

  /* +++++++JOB SECTION++++++++ */
  .job-social-wrap {
    display: flex
  }

  .job-description {
    height: 100%;
    margin: 0.5rem 2%;
  }  

  .job-description-wrap {
    width: 60%;
  }

  .job-description-pic {
    margin: 0.5rem 2%;
  }

  .legend {
    display: grid;
  }

  li {
    height: 12rem;
  }

  li h2 {
    margin-right: 0 3rem 0 0;
    padding: 0 0.5rem 0 0.5rem;
  }
  .positon
  li p {
    padding: 0.5rem 0 0 2rem;
    width: 500px;
  }

  #i1 {
    margin: 0 3.5rem;
  }

  #i2 {
    margin: 0 5.8rem;
  }

  #i4 {
    margin: 0 4rem;
  }

  #i5 {
    margin: 0 9rem;
  }

  #i6 {
    margin: 0 3rem;
  }

  .job-edit-button {
    margin: 0 0 0 3rem;
    height: 4rem;
    width: 8rem;
  }

  .edit-icon {
    display: inherit;
    font-size: 1rem;
    margin-right: 1rem;
  }

  /* +++++++SOCIAL SECTION++++++++ */
  .section-social-media {
    width: 40%;
  }

  .social-button  {
    height: 6rem;
    padding: rem 0 0 0;
    width: calc(100% - 110px);
  }

  .social-link-wrap {
    padding: 0 6rem;
  }

  .social-copy-wrap span {
    margin: 0;
    width: calc(100% - 8rem);
  }

}

